In [1]:
import pandas as pd
from faker import Faker

# 기존 데이터라고 가정
data = [['이XX',27,'XXXXX@XXXXl.com','XXX-XXXX-XXXX','XX시 XX구 xX로 XX길 XX',
        '매니저','한국']]

df = pd.DataFrame(data, columns=['name','age','email','phone','address','job','country'], index=[i for i in range(len(data))])
df

  name  age            email          phone             address  job country
0  이XX   27  XXXXX@XXXXl.com  XXX-XXXX-XXXX  XX시 XX구 xX로 XX길 XX  매니저      한국

In [2]:
#faker 한국용으로 사용
fake = Faker('ko-KR')

data[0][0] = fake.name()
data[0][1] = fake.pyint(min_value=19, max_value=100)
data[0][2] = fake.email()
data[0][3] = fake.phone_number()
data[0][4] = fake.address()
data[0][5] = fake.job()
data[0][6] = fake.country()

df = pd.DataFrame(data, columns=['name','age','email','phone','address','job','country'], index=[i for i in range(len(data))])
df

  name  age             email         phone           address      job country
0  권옥순   72  jaeho98@daum.net  062-336-5591  서울특별시 구로구 테헤란04길  시각 디자이너     바레인